@model ClaseMovimiento
@{
    ViewData["Title"] = "Crear Clase de Movimiento";
}

<h1>Crear Clase de Movimiento</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Crear">
    <div class="mb-3">
        <label for="Descripcion" class="form-label">Descripción</label>
        <input type="text" id="Descripcion" name="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="IngEgr" class="control-label"> Tipo de Clase de Movimiento</label>
        <select asp-for="IngEgr" class="form-control">
            <option value="Ingreso">Ingreso</option>
            <option value="Egreso">Egreso</option>
        </select>
        <span asp-validation-for="IngEgr" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Insertar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


