@model IEnumerable<Cuenta>
@{
    ViewData["Title"] = "Cuentas";
}

<h1>Cuentas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cuenta in Model) 
        {
            <tr>
                <td>
                    @cuenta.Nombre                    
                </td>
                <td>
                    <input type="hidden" value="@cuenta.Id " />
                </td>
            </tr>
        }
    </tbody>
</table>