@model AppFinanzasWeb.ViewModels.MovimientoReintegroViewModel
@{
    ViewData["Title"] = "Registrar Reintegro";
}

<div class="container mt-5">
    <h2>Reintegro</h2>

    <form asp-action="Reintegro" method="post">
        <input type="hidden" asp-for="movimiento.IdMovimiento" />
        <input type="hidden" asp-for="movimiento.Monto" class="form-control mb-3" id="montoInicial" />
        <div class="row">
            <div class="col-md-6">                

                <div class="form-group">
                    <label class="form-label">Monto Original</label>
                    <input type="text" asp-for="movimiento.MontoString" class="form-control mb-3"
                           readonly />
                </div>
                <div class="form-group">
                    <label class="form-label">Fecha</label>
                    <input type="date" asp-for="movimiento.Fecha" class="form-control mb-3" readonly />
                </div>
                <div class="form-group">
                    <label class="form-label">Clase de Movimiento</label>
                    <input type="text" asp-for="movimiento.ClaseMovimientoNombre" class="form-control mb-3" readonly />
                </div>
                <div class="form-group">
                    <label class="form-label">Detalle</label>
                    <input type="text" asp-for="movimiento.Comentario" class="form-control mb-3" readonly />
                </div>
                <div class="form-group">
                    <label class="form-label">Cuenta Original</label>
                    <input type="text" asp-for="movimiento.CuentaNombre" class="form-control mb-3" readonly />
                </div>
                <div class="form-group">
                    <label class="form-label">Moneda</label>
                    <input type="text" asp-for="movimiento.ActivoNombre" class="form-control mb-3" readonly />
                </div>
                
            </div>
            
            <div class="col-md-6">

                <div class="form-group">
                    <label class="form-label">Fecha Reintegro</label>
                    <input type="date" asp-for="fechaReint" class="form-control mb-3" />
                </div>
                <div class="form-group">
                    <label class="form-label">Cuenta Devolución</label>
                    <select class="form-control mb-3" asp-for="cuentaReint" class="form-control mb-3" asp-items="ViewBag.Cuentas">
                        
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label">Monto a Reintegrar</label>
                    <input class="form-control" asp-for="montoReint" class="form-control mb-3"
                           id="montoReintegrar" type="string"  onblur="formatearMoneda(this)" onblur="chequeoMontosReint(this)"/>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <a class="btn btn-secondary" style="margin-right: 10px;" asp-action="Index">Volver</a>
                    <button type="submit" class="btn btn-primary">Registrar</button>                    
                </div>
                
            </div>            
        </div>        
    </form>
</div>

@section Scripts {

    <script>
        const montoReintegrarInput = document.getElementById('montoReintegrar');
        const montoInicialInput = document.getElementById('montoInicial');


        montoReintegrarInput.addEventListener('blur', function () {

            var montoReintegrar = parseFloat(removePoints(montoReintegrarInput.value).replace(',', '.'));
            var montoInicial = parseFloat(removePoints(montoInicialInput.value).replace(',', '.'));

            // console.log(parseFloat(montoReintegrar));
            // console.log(parseFloat(montoInicial));


            // console.log(!isNaN(parseFloat(montoInicial)));
            // console.log(!isNaN(parseFloat(montoReintegrar)));


            if (montoReintegrar > montoInicial) {
                this.setCustomValidity('El monto a reintegrar no puede ser mayor que el monto inicial.');
                // console.log('entro1')
            } else {
                // console.log('entro2')
                this.setCustomValidity('');
            }
        });

        // function chequeoMontosReint(input) {
        //     // document.addEventListener('DOMContentLoaded', function () {
        //     const montoInicialInput = document.getElementById('montoInicial');
        //     var montoReintegrarInput = this.input;

        //     montoReintegrarInput = removePoints(montoReintegrarInput);
        //     montoReintegrarInput = montoReintegrarInput.replace(',', '.');

        //     if (montoReintegrarInput > montoInicialInput) {
        //         this.setCustomValidity('El monto a reintegrar no puede ser mayor que el monto inicial.');
        //     } else {
        //         this.setCustomValidity('');
        //     }
        // }


        
    </script>
}