@model Activo

@{
    ViewData["title"] = "Editar Activo";
}
<h1>Editar Activo: @Model.ActivoNombre</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Editar">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="ActivoNombre" class="form-label"></label>
        <input type="text" asp-for="ActivoNombre" class="form-control" />
        <span asp-validation-for="ActivoNombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SIMBOLO" class="form-label"></label>
        <input type="text" asp-for="SIMBOLO" class="form-control" />
        <span asp-validation-for="SIMBOLO" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-secondary" asp-action="Index" asp-route-id="@Model.IDTIPOACTIVO">Cancelar</a>
    
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}